/***************************************************************************************
* ZEN GARDEN PROJECT
* 
* Author: Jacob Call
* Class: WDD 331
* Date Created: 11/10/2018
* Last Modified: 12/13/2018
*
* Description: The basic css template for my Zen Garden project for school.
*****************************************************************************************************/
/***************************
* Font Import
***********************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Philosopher');


/* Basics */
html {
        margin: 0;
        padding: 0;
        background: url(/background.svg);
	}

body { 
        font: 75% 'Open Sans', sans-serif;
        line-height: 1.88889;
        color: #555753; 
        margin: 0; 
        padding: 0;
        
	}

p { 
        margin-top: 0; 
        text-align: justify;
	}

h3 { 
        color: black;
        font-size: 2.5em;
        margin: 0px;
    font-family: 'Philosopher', sans-serif;
	}

/* link elements */
a:link { 
        font-weight: bold; 
        text-decoration: none; 
        color: white; 
	}

a:visited { 
        font-weight: bold; 
        text-decoration: none; 
        color: pink;
	}

a:hover, a:focus, a:active { 
        font-weight: bold; 
        text-decoration: underline; 
        color: gold;
        font-size: 1.2em;
        transition: 0.5s;
	}

/* Style for the weird underline under the word "CSS" */
abbr {
	   border-bottom: none;
	}

/* specific divs */
.page-wrapper { 
	   position: absolute;
	}

.intro { 
	   width: 100%;
       text-align: center;
	}


header {
        margin: 0px;
        padding: 0px;
        margin-top: -3%;
        font-family: 'Philosopher', sans-serif;
}

header h1 { 
        margin-top: 3%;
        margin-bottom: 0px;
        color: black;
        width: 100%;
        font-size: 5.0em;
        
	}

header h2 { 
        color: black;
        width: 100%;
        font-size: 2.5em;
	}

.summary { 
        width: 100%; 
        padding: 5px;
        position: absolute;
        margin-top: -25px;
	}

.summary p {
        font: italic 1.6em/2.2 georgia; 
        text-align: center;
        margin: 15px;
        color: black;
	}

.summary p:nth-child(2) {
        margin-top: 80px; 
	}


.summary a:nth-child(1) {
        color: white;
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: gray;
        padding: 10px;
        width: 100%;
	}

.summary a:nth-child(2) {
        color: white;
        position: absolute;
        top: 135%;
        right: 0%;
        background-color: gray;
        padding: 10px;
        width: 100%;
	}

.preamble {
	    margin-top: 450px;
        width: 50%;
        float: left;
	}

.preamble p {
	    margin: 5px 15px 10px 15px;
        text-align: center;
	}  

.main {
        text-align: center;
        width: 100%;
    }

.explanation {
        margin-top: 725px;
        float: right;
        width: 50%;
}

.explanation p {
        margin: 5px 15px 10px 15px;
        text-align: center;
    }

.participation {
        margin-top: 325px;
        width: 50%;
        float: left;
    }
   
.participation p {
        margin: 5px 15px 10px 15px;
        text-align: center;
    }

.benefits {
        margin-top: 325px;
        width: 50%;
        float: right;

    }
    
.benefits p {
        margin: 5px 15px 10px 15px;
        text-align: center;
    }

.requirements {
        margin-top: 155px;
        width: 50%;
        float: left;
    }

.requirements p {
        margin: 5px 15px 10px 15px;
        text-align: center;
    }

/* Sidebar */
    
    .sidebar {
        text-align: center;
        width: 100%;
        margin-top: 500px;
        background-color: black;
    }

    .sidebar h3 {
        color: white;
    }

    .sidebar {
        color: white;
    }
    
    .sidebar ul {
        margin: 5px;
        padding: 5px;
    }
    
    .sidebar li {
        display: inline;
        list-style: none; 
        margin: 5px;
        padding: 2px;

    }
    
    .design-selection {
        margin-top: 5%;
    }
    
    .design-archives {
        margin-top: 5%;
    }
    
    .zen-resources {
        margin-top: 5%;
    }
    
/*************************************************************** 
For mobile phones: 
******************************************************************************/
@media only screen and (max-width: 768px) {
    
    body {
        /* Will change background */
        background-color: lightgray;
    }
    
    h3 { 
        color: black;
        font-size: 1.8em;
        margin: 0px;
	}
    
    /* Header formatting */
    .intro { 
        margin: 0;
        padding: 0;
        background-color: #0a0821
	}
    
    header h1 { 
        color: white;
        width: 100%;
        font-size: 3.5em;
	}
    
    header h2 { 
        margin-top: 5%;
        color: white;
        width: 100%;
        font-size: 1.8em;
	}
    
    .summary { 
        width: 100%; 
        padding: 5px;
        margin-top: -25px;
	}

    .summary p {
        font: italic 1.1em/2.2 georgia; 
        text-align: center;
        margin: 15px;
        color: black;
        margin-top: 30px;
	}
    
    /* Download the examples special formatting */
    
    .summary p:nth-child(2) {
        margin-top: 100px; 
	}

    .summary a:nth-child(1) {
        color: white;
        position: absolute;
        top: 100%;
        left: 0%;
        margin-left: 20%;
        background-color: black;
        padding: 10px;
        width: 90px;
	}

    .summary a:nth-child(2) {
        color: white;
        position: absolute;
        top: 100%;
        right: 0%;
        margin-right: 20%;
        background-color: black;
        padding: 10px;
        width: 90px;
	}
    
    /* Main Body formatting (Preamble, Main, Supporting, Participation, Benefits, Requirements) */

    .preamble {
	    margin-top: 350px;
        width: 100%;
        background-color: black;
	}

    .preamble p {
	    margin: 5px 15px 10px 15px;
        text-align: center;
        color: white;
	}
    
    .preamble h3 {
        color: white;
    }

    .main {
        width: 100%;
        text-align: center;
    }
    
    .explanation {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .explanation p {
        margin: 5px 15px 10px 15px;
        text-align: center;
    }
    
    .supporting {
        width: 100%;
    }  
    
    .supporting p {
        margin: 5px 15px 10px 15px;
        text-align: center;
    }
    
    .participation {
        width: 100%;
        margin: 0px;
    }
   
    .participation p {
        margin: 5px 15px 10px 15px;
        text-align: center;
    }
    
    .benefits {
        margin-top: 10%;
        width: 100%;
        margin-bottom: 10%;
        background-color: black;
    }
    
    .benefits p {
        margin: 5px 15px 10px 15px;
        text-align: center;
        color: white;
    }
    
    .benefits h3 {
        color: white;
    }
    
    .requirements {
        margin-top: 10%;
        width: 100%;
        float: none;
    }
    
    .requirements p {
        margin: 5px 15px 10px 15px;
        text-align: center;
    }
    
    .requirements a {
        color: black;
    }
    
    /* Footer and everything below it */
    footer {
        width: 100%;
        margin-top: 10%;
        background-color: black;
        padding: 10px;
    }
    
    footer a {
        margin: 8px;
        font-size: 1.1em; 
    }
    
    /* Sidebar */
    
    .sidebar {
        text-align: center;
        width: 100%;
        margin-top: -18px;
    }
    
    .sidebar ul {
        margin: 5px;
        padding: 5px;
    }
    
    .sidebar li {
        display: inline;
        list-style: none; 
        margin: 5px;
        padding: 2px;

    }
    
    .design-selection {
        margin-top: 5%;
    }
    
    .design-archives {
        margin-top: 5%;
    }
    
    .zen-resources {
        margin-top: 5%;
    }
}